#subtitulo{
    
   box-shadow:  5px 10px 30px black;
   border-radius: 5%; 
   width: 50%;
   height: auto;
   font-family: 'Satisfy', cursive;
   background-color: rgba(138, 136, 119, 0.85);
   font-size: 25px;
    

  }

  #fila {

    margin-top: 90px;

  }

  #Inicio {
 

    background-image: url(../images/fondoapp.jpg);
    width: 100%;
    height: 100%;
    position: absolute;
    
    }


#cardTutorial{

    
  background-image: url(../images/fondoapp.jpg);
 
}

#col-tutorial {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}


#unplayer{

    margin-top: 20px;
    margin-right: 40px;
    background-color:  rgba(138, 136, 119, 0.85);
    color: black;
    font-family: 'Satisfy', cursive;
    font-size: 20px;
}

#dosplayers{

    margin-left: 250px;
  
    background-color:  rgba(138, 136, 119, 0.85);
    color: black;
    font-family: 'Satisfy', cursive;
    font-size: 20px;
}

#oneplayer {

    max-width: 8%;
    margin-left: 20px;
    margin-top: 40px;
    

}

#players {

    max-width: 8%;
    position: relative;
    bottom: 10px;
    left: 50px;
}

#titulo {


    text-align: center;
    margin-top: 20px;
    font-family: 'Satisfy', cursive;
    font-size: 42px;
    text-shadow: 1px 2px #999;
}